<div class="content">
<h1 class="header">Tasks</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Task" aria-label="Enter Task" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary btn-primary" type="button" id="button-addon2">Add Task</button>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
      </table>
    </div>
  </div>
</div>
</div>