@import 'bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */

h1 {
    text-align: center;
}

.done {
    text-decoration: rebeccapurple line-through;
}

body {
    padding: 5% 10%;
    background-image: url("https://i.picsum.photos/id/0/5616/3744.jpg?hmac=3GAAioiQziMGEtLbfrdbcoenXoWAW-zlyEAMkfEdBzQ");
    background-repeat: no-repeat;
    background-size: cover;
}